* {
	margin: 0 auto;
}

body {
	background-color: gray;
	margin: 0% 10% 10% 10%;
}

#wrap {
	background-color: green;
}

header h1 {
	background-color: yellow;
	text-align: right;
	margin: 0 auto;
	float: top;
}

nav {
	width: 1000px;
	text-align: center;
	line-height: 2em;
	position: relative;
}

nav li {
	display: inline-block;	
	vertical-align: middle;
}

nav a {
	background-color: black;
	padding: 10px 20px 10px 40px;
	color: white;
}

aside {
	background-color: white;
	width: 20%;
	height: 381px;
	position: absolute;
	right: 10%;
	text-align: center;
}

aside li {
	text-align: left;
	display: list-item;
	margin-left: 30%;
}

aside img {
	height: 33%;
	padding-top: 3em;
}

#content {
	background-color: #5f636b;
	position: absolute;
	width: 60%;
	z-index: 0;
}

#content li {
	text-align: center;
	display: block;
}

footer {
	position: fixed;
	bottom:281px;
	background-color: green;
	width: 60%;
	vertical-align: middle;
	padding: 1em 0;
}