* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
	color: #F0EAD6;
	font-family: "Anonymous Pro", Arial, sans-serif;
}

header {
	width: 20vh;
	display: block;
	position: fixed;
	height: 100%;
}

#menubox {
	display: none;
}

.logo img {
	width: 10vh;
	margin: 1em;
}

.dropbtn,.dropdown-content {
	display: none;
}

.rnav {
	left: 1em;
	position: relative;
}

.rnav ul {
	font-family: "Roboto Slab", Helvetica, sans-serif;
}

.rnav li {
	display: block;
	padding: 2em 0em 2em 1em;
}

.rnav li:hover {
	text-transform: uppercase;
}

.rnav li:active {
	text-transform: uppercase;
	color: red;
}

.rest {
	position: relative;
	left: 20vh;
	width: 80vw;
	padding-bottom: 20%;
	overflow: auto;
	z-index: 1
}

h1 {
	font-family: "Roboto Slab", Helvetica, sans-serif;
	margin: 5vh 0;
}

footer {
	bottom: 0;
	width: 100%;
	padding-top: .5em;
	border-top: .5em;
	position: fixed;
	z-index: 2
}

footer div {
	text-align: center;
}
footer div a {
	display: inline-block;
	width: 5vh;
	margin: 0 5vh;
}

footer div i {
	height: 5vh;
}

footer p {
	text-align: center;
	padding: .5em;
}
