* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
	color: #F0EAD6;
	font-family: "Anonymous Pro", Arial, sans-serif;
}

header {
	width: 20vh;
	float: left;
	display: block;
}

.logo img {
	width: 10vh;
	margin: 1em;
}

nav ul {
	font-family: "Roboto Slab", Helvetica, sans-serif;
}

nav li {
	display: block;
	padding: 2em 0em 2em 1em;
}

nav li:hover {
	text-transform: uppercase;
}

nav li:active {
	text-transform: uppercase;
	color: red;
}

h1 {
	font-family: "Roboto Slab", Helvetica, sans-serif;
	margin: 5vh 0;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: .5em;
	border-top: .5em;
	border-top-color: red;
}

footer div {
	text-align: center;
}
footer div a {
	display: inline-block;
	width: 10%;
}

footer div img {
	height: 5vh;
}
